@model BestBlog.Models.CreatePostViewModel



<h2>Create</h2>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
    </fieldset>
}*@
<form action="@Href("~/Posts/Create")" method="post" id="createForm">
    <input type="text" name="dateCreated" value="@Model.DateCreated" /> Date<br />
    <input type="text" name="title" value="" /> Title <br />
    <input type="text" name="tags" value="" /> Tags <br />
    <input type="text" name="body" value="" /> Body <br />
    <input type="submit" name="submit" value="Submit!" /> <br />
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
